.dashboard {
    background: #06302b url(../images/content-bg.png) no-repeat 0 -150px;
    background-size: cover;
    color: $light-grey;
    .fota-table {
        thead th {
            @media screen and (max-width: 1440px) {
                padding: 18px 10px;
            }
        }
    }
    .hero-list {
        margin-top: 15px;
    }
    .illustration {
        margin-top: 90px;
        background-size: cover;
        @media screen and (max-width: 991px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            .small-box {
                width: 50%;
                margin: 40px auto;
            }
        }
        .card {
            .thumb {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .content {
                width: 100%;
                margin-top: 40px;
                text-align: center;
            }
            .amount {
                @media screen and (min-width: 1600px) {
                    > div {
                        width: 50%;
                    }
                }
                @media screen and (min-width: 1400px) and (max-width: 1599px) {
                    flex-direction: column;
                    div {
                        &:nth-child(2) {
                            order: 3;
                        }
                        &:nth-child(4) {
                            order: 4;
                        }
                    }
                }
            }
            @media screen and (max-width: 1399px) {
                margin: 15px 0;
                .amount {
                    flex-direction: row;
                    div {
                        width: 40%;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                margin: 15px 0;
                .amount {
                    flex-direction: column;
                    div {
                        width: 100%;
                        &:nth-child(2) {
                            order: 3;
                        }
                        &:nth-child(4) {
                            order: 4;
                        }
                    }
                }
            }
            .address {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            img {
                width: 100px;
            }
        }
        .account-info {
            padding-top: 90px;
            text-align: center;
            .avatar {
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                width: 100px;
                height: 100px;
                background: url('../images/avatar-bg.png') no-repeat;
                background-size: cover;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .clan-leader-name {
                margin: 0 5px;
                color: #f44d64;
                font-weight: bold;
            }
            .clan-name {
                margin: 0 5px;
                color: #1488ff;
                font-weight: bold;
                text-transform: uppercase;
            }
            .icon-copy {
                position: relative;
                margin-left: 10px;
                top: 2px;
            }
        }
    }
    .filters {
        @media screen and (max-width: 991px) {
            margin-top: 0;
            padding-top: 40px;
        }
    }
    .navbar-custom {
        @media screen and (max-width: 991px) {
            padding-top: 10px;
        }
    }
    &.page-detail {
        .full-box .price-box {
            margin-top: 30px;
            &::before {
                content: none;
            }
            .price {
                margin-bottom: 30px;
                .failure-cost {
                    margin-top: 5px;
                }
            }
            .inner {
                display: flex;
                @media screen and (max-width: 400px) {
                    flex-direction: column;
                    .fota-primary-btn {
                        margin: 10px 0;
                        min-width: 160px;
                        font-size: 18px;
                    }
                }
            }
            .fota-primary-btn {
                margin: 0 10px;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    min-width: 145px;
                }
                @media screen and (max-width: 575px) {
                    margin: 0 5px;
                    min-width: 110px;
                }
            }
        }
    }
    .card-wrapper {
        &.items {
            &.grid-view {
                .card-price {
                    .top-price {
                        margin-bottom: 0;
                    }
                }
            }
            &.list-view {
                .card {
                    @media screen and (min-width: 992px) {
                        padding-bottom: 20px;
                    }
                }
                .card-image {
                    @media screen and (min-width: 992px) {
                        padding: 35px 20px 0;
                    }
                    @media screen and (max-width: 991px) {
                        padding: 40px 15px 10px;
                    }
                }
                .card-price {
                    padding: 0;
                    margin-top: 0;
                    .amount {
                        @media screen and (min-width: 992px) {
                            font-size: 30px;
                        }
                        span {
                            @media screen and (min-width: 992px) {
                                display: block;
                            }
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &.hero-list {
            &.list-view {
                .card {
                    @media screen and (min-width: 992px) {
                        padding: 35px 20px 20px;
                    }
                    @media screen and (max-width: 991px) {
                        padding: 35px 15px 15px;
                        margin-top: 40px;
                    }
                    &-image {
                        @media screen and (max-width: 991px) {
                            position: static;
                        }
                    }
                }
            }
        }
        // &.lands {
        //     &.list-view {
        //         .card {
        //             @media screen and (max-width: 991px) {
        //                 padding-bottom: 50px;
        //             }
        //             &-amount {
        //                 font-size: 26px;
        //                 color: $green;
        //                 @media screen and (max-width: 991px) {
        //                     font-size: 20px;
        //                 }
        //             }
        //             &-promotion {
        //                 margin: 0 0 10px;
        //                 .total-reward > div {
        //                     display: block;
        //                 }
        //             }
        //             &-desc {
        //                 @media screen and (min-width: 992px) {
        //                     display: none;
        //                 }
        //             }
        //         }
        //     }
        //     &.grid-view {
        //         .card {
        //             @media screen and (max-width: 991px) {
        //                 margin: 20px 0 60px;
        //             }
        //             &-image {
        //                 .thumb {
        //                     @media screen and (min-width: 1200px) and (max-width: 1440px) {
        //                         margin-top: 40px;
        //                     }
        //                 }
        //             }
        //             &-price {
        //                 padding: 0;
        //             }
        //             &-item {
        //                 @media screen and (min-width: 992px) {
        //                     margin: 30px 0 40px;
        //                     .card {
        //                         margin: 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
.nav-dashboard {
    width: 306px;
    padding: 0 10px;
    @media screen and (min-width: 992px) {
        padding: 40px 10px;
        height: 610px;
        background: url('../images/nav-dashboard-bg.png');
    }
    li {
        &::after {
            content: none;
        }
    }
    .nav {
        @media screen and (max-width: 991px) {
            margin-top: 0;
        }
        > li {
            width: 100%;
            margin: 5px 0;
            padding-left: 20px;
            > a {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 20px;
                padding: 8px 10px;
                @media screen and (max-width: 991px) {
                    padding: 5px 20px;
                    justify-content: end;
                    font-size: 16px;
                }
                &.active {
                    + .dropdown-menu {
                        display: block;
                    }
                }
                i {
                    margin-top: -2px;
                    margin-right: 10px;
                    font-size: 27px;
                    @media screen and (max-width: 991px) {
                        margin: 0 0 0 10px;
                        order: 2;
                        font-size: 18px;
                    }
                    &.icon-hammer {
                        font-size: 22px;
                        margin-left: 6px;
                        transform: rotate(45deg);
                        @media screen and (min-width: 992px) {
                            margin-left: -4px;
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        position: static !important;
        transform: none !important;
        padding: 0 10px 0 40px;
        background: transparent;
        color: $light-grey;
        border: none;
        @media screen and (max-width: 991px) {
            text-align: right;
            a {
                padding: 15px 40px 15px 0 !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
        li {
            margin: 5px 0;
            @media screen and (max-width: 991px) {
                margin: 3px 0;
            }
        }
    }
}
.pools {
    .card {
        transition: all 0.3s;
        .card-inner {
            position: relative;
            width: 100%;
            // height: 460px;
            padding: 70px 22px 40px;
            background-size: cover;
            z-index: 1;
            background: url('../images/pool-item-bg.png') no-repeat;
            background-size: cover;
            @media screen and (min-width: 1200px) and (max-width: 1440px) {
                padding: 70px 17px 40px;
            }
            @media screen and (min-width: 1600px) {
                padding: 70px 20px 40px;
            }
        }
        margin: 50px 0 20px;
        @media screen and (max-width: 991px) {
            margin: 35px 0;
        }
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            left: 3px;
            right: 3px;
            bottom: 5px;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.6);
        }
        ul {
            margin-top: 35px;
            @media screen and (max-width: 767px) {
                margin-top: 20px;
            }
            li {
                display: flex;
                justify-content: space-between;
                margin: 17px 0;
            }
        }
        .pool-icon {
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn {
            min-width: 110px;
            margin: 0 5px;
            @media screen and (max-width: 767px) {
                min-width: 90px;
                font-size: 14px;
            }
            @media screen and (max-width: 375px) {
                font-size: 12px;
            }
        }
        .pool-list {
            padding: 0 40px;
            @media screen and (min-width: 992px) {
                border-right: 1px solid #097e70;
            }
            @media screen and (max-width: 1440px) {
                padding: 0 20px;
            }
            &:last-child {
                border: none;
            }
            li {
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .fota-btn {
            width: 90px;
            height: 32px;
        }
    }
}
.custom-text-input {
    position: relative;
    width: 360px;
    @media screen and (max-width: 991px) {
        width: 265px;
    }
    .fota-btn {
        position: absolute;
        top: 5px;
        right: 4px;
        @media screen and (max-width: 991px) {
            font-size: 12px;
            top: 3px;
            right: 2px;
            width: 61px;
            height: 29px;
        }
    }
}
.page-holder {
    &.history {
        .search-block {
            width: 306px;
            margin-left: auto;
            @media screen and (max-width: 575px) {
                margin: 20px auto 0;
            }
        }
    }
}
.hash-table {
    // @media screen and (min-width: 1600px) {
    width: 23%;
    // }
}
.history-list {
    ul {
        margin-bottom: 0;
    }
    li {
        padding: 12px 0;
        border-bottom: 1px solid #1d2e2b;
        font-size: 14px;
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }
}
.chat {
    &-content {
        @media screen and (min-width: 992px) {
            margin-left: 30px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
        .chat-log {
            @media screen and (max-width: 991px) {
                margin: 20px 0;
                padding: 0 10px;
                max-height: 400px;
                overflow-y: auto;
            }
        }
    }
    &-sidebar {
        @media screen and (min-width: 992px) {
            flex: 0 0 350px;
        }
        @media screen and (min-width: 1600px) {
            flex: 0 0 450px;
        }
        .chat-log {
            @media screen and (max-width: 991px) {
                padding: 0 10px;
                max-height: 400px;
                overflow-y: auto;
            }
        }
    }
    &-history-item {
        position: relative;
        margin: 30px 0;
        padding: 10px 30px 30px;
        background-color: black;
        color: white;
        @media screen and (max-width: 991px) {
            padding: 10px 15px 15px;
        }
        .fota-btn {
            position: absolute;
            top: -10px;
            left: -10px;
        }
        &.received {
            margin-right: 40px;
            @media screen and (max-width: 991px) {
                margin-right: 20px;
            }
        }
        &.sent {
            margin-left: 40px;
            @media screen and (max-width: 991px) {
                margin-left: 20px;
            }
            .fota-btn {
                left: inherit;
                right: -10px;
                background: url('../images/fota-brown-btn-bg.png');
            }
            .chat-history-date {
                text-align: left;
            }
        }
    }
    &-history-conversation {
        margin-top: 20px;
    }
    &-history-date {
        text-align: right;
        font-size: 11px;
        color: $light-grey;
        @media screen and (min-width: 992px) {
            margin-right: -20px;
        }
    }
}
.half-box-2,
.full-box-2 {
    position: relative;
    padding: 30px;
    background: rgba($color: #010e0e, $alpha: 0.5);
    margin: 8px 0;
    @media screen and (max-width: 767px) {
        padding: 20px 15px;
    }
}
.half-box-2 {
    &::before,
    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: 8px;
    }
    &::before {
        top: -8px;
        background: url('../images/chat-top-half-box-bg.png');
    }
    &::after {
        bottom: -8px;
        background: url('../images/chat-bottom-half-box-bg.png');
    }
}
.full-box-2 {
    &::before,
    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: 8px;
    }
    &::before {
        top: -8px;
        background: url('../images/chat-top-full-box-bg.png');
    }
    &::after {
        bottom: -8px;
        background: url('../images/chat-bottom-full-box-bg.png');
    }
}
.chat-navbar {
    @media screen and (max-width: 991px) {
        margin-top: 40px;
        .nav {
            li a {
                padding: 8px 14px;
            }
        }
        .fota-btn {
            margin: 40px auto 0;
        }
    }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .nav {
            li a {
                padding: 8px 20px;
            }
        }
    }
}
.upgrade-items {
    .half-box {
        height: 100%;
        @media screen and (max-width: 1600px) {
            padding: 40px 20px;
        }
        @media screen and (max-width: 767px) {
            padding: 20px 10px;
        }
    }
    .item-list {
        .item {
            flex: 0 0 25%;
            margin: 20px 0;
            text-align: center;
            @media screen and (max-width: 767px) {
                flex: 0 0 50%;
            }
        }
        .image {
            display: inline-block;
            position: relative;
            width: 100px;
            @media screen and (max-width: 1600px) {
                width: 85px;
            }
            img {
                max-width: 100%;
            }
            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                    -webkit-box-shadow: 0px 0px 6px 2px #26de9f;
                    box-shadow: 0px 0px 6px 2px #26de9f;
                }
            }
        }
        .name {
            margin: 10px auto 0;
            font-size: 20px;
            font-weight: 700;
            max-width: 100px;
            @media screen and (max-width: 991px) {
                max-width: 130px;
            }
            @media screen and (max-width: 1600px) {
                font-size: 15px;
            }
        }
        .id {
            font-size: 16px;
            @media screen and (max-width: 1600px) {
                font-size: 14px;
            }
        }
        .quantity {
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 14px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #055139;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 1;
        }
    }
    .required-text {
        margin: 30px 0 30px;
    }
    .title {
        margin-top: 0;
    }
    .rate {
        margin: 20px auto 30px;
        max-width: 400px;
        font-size: 20px;
        font-weight: bold;
        @media screen and (max-width: 991px) {
            padding: 0 20px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 10px;
        }
        .label {
            display: block;
            text-align: center;
        }
        .price {
            display: block;
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
    }
    .fota-pagination {
        margin-top: 40px;
    }
    .combination-list {
        .item {
            text-align: center;
        }
    }
    .upgrade-button {
        text-align: center;
        .primary-btn {
            padding-top: 25px;
            font-size: 18px;
        }
    }
    .upgrade {
        @media screen and (max-width: 1600px) {
            padding: 40px 10px;
        }
        @media screen and (max-width: 1400px) {
            margin-top: 40px;
        }
        .upgrade-button {
            @media screen and (max-width: 767px) {
                padding: 0 10px;
            }
            .fota-primary-btn {
                width: 100%;
                @media screen and (min-width: 768px) {
                    width: inherit;
                    min-width: 360px;
                }
            }
        }
        &.hero-skills {
            .tab-content {
                @media screen and (max-width: 991px) {
                    margin-top: 30px;
                }
            }
            nav {
                margin-top: 20px;
            }
            .nav-link {
                position: relative;
                .level {
                    display: inline-block;
                    position: absolute;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #785425;
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 5px;
                    color: white;
                    min-width: 30px;
                    transition: all 0.3s;
                    @media screen and (max-width: 991px) {
                        font-size: 16px;
                        min-width: 24px;
                        bottom: 12px;
                    }
                }
                &.lock {
                    opacity: 1;
                    img {
                        filter: grayscale(100%);
                    }
                    .level {
                        background: #4b4b4b;
                    }
                }
                &.active {
                    .level {
                        bottom: 18px;
                        @media screen and (max-width: 991px) {
                            bottom: 7px;
                        }
                    }
                }
            }
            .desc {
                @media screen and (max-width: 1440px) {
                    padding: 0 10px;
                }
            }
        }
    }
    .hero-info {
        position: relative;
        .breadcrumb {
            top: 15px;
            left: 20px;
        }
        .hero-alliances {
            margin-top: 20px;
        }
        .hero-level {
            margin-top: 50px;
            text-align: center;
            @media screen and (max-width: 575px) {
                margin-top: 30px;
            }
            .label {
                font-size: 24px;
                font-weight: 700;
            }
            .hero-progress {
                margin: 15px auto 0;
            }
            .progress-value {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
    .hero-stats {
        margin-top: 20px;
        > span {
            flex: 0 0 33.3333%;
            margin: 15px 0;
            @media screen and (max-width: 1440px) {
                flex: 0 0 50%;
            }
            .spec {
                margin-left: 5px;
            }
        }
    }
    .container-fluid {
        padding-bottom: 50px;
    }
    .equipment-upgrade {
        .upgrade-rate {
            &::before {
                @media screen and (min-width: 1366px) and (max-width: 1600px) {
                    width: 150px;
                    height: 18px;
                }
            }
        }
    }
    .select-balance {
        margin-top: 10px;
        .input-group {
            width: initial;
        }
    }
    .hero-alliances .item-class {
        &:first-child {
            img {
                width: 48px;
            }
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}
.nav-item {
    margin: 30px 0;
    li {
        list-style: none;
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            min-width: 120px;
            height: 40px;
            padding: 0 10px;
            font-size: 18px;
            border: 1px solid $green;
            border-radius: 20px;
            opacity: 0.7;
            @media screen and (max-width: 767px) {
                min-width: 90px;
                margin: 0 5px;
                height: 30px;
                font-size: 14px;
            }
            &.active,
            &:hover {
                opacity: 1;
            }
            &.grey {
                border-color: $light-grey;
                color: $light-grey;
            }
            &.pink {
                border-color: #ef3afa;
                color: #ef3afa;
            }
            &.blue {
                border-color: #1eadff;
                color: #1eadff;
            }
        }
    }
}
.upgrade-result {
    text-align: center;
    .subtext {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        z-index: 1;
    }
    .title {
        font-size: 56px;
        font-weight: 500;
        position: relative;
        margin-bottom: 30px;
        z-index: 1;
        @media screen and (max-width: 991px) {
            font-size: 34px;
        }
        @media screen and (max-width: 575px) {
            font-size: 22px;
        }
    }
    &.successful {
        .title {
            color: #39ec4e;
        }
        .item-image {
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::before {
                width: 886px;
                height: 608px;
                background: url('../images/success-effect.png');
                background-size: 100%;
            }
            &::after {
                width: 400px;
                height: 400px;
                background: url('../images/success-bow-effect.png');
                background-size: 100%;
                animation: rotating 4s linear infinite;
                transform-origin: center center;
            }
            img {
                position: relative;
                width: 100px;
                z-index: 1;
            }
        }
    }
    &.failed {
        .title {
            color: #ff3600;
        }
    }
    .item-name {
        position: relative;
        z-index: 1;
        margin-top: 30px;
        font-size: 26px;
        color: white;
        font-weight: 700;
    }
    .btn {
        margin-top: 30px;
    }
    .item-id {
        font-size: 16px;
    }
    .item-desc {
        margin: 20px 0 10px;
    }
    .item-image {
        position: relative;
        img {
            position: relative;
            width: 100px;
            z-index: 1;
        }
        &.skill {
            img {
                width: 140px;
                height: 157px;
            }
        }
        .level {
            position: absolute;
            bottom: 13px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #785425;
            font-size: 20px;
            min-width: 30px;
            z-index: 1;
            border-radius: 5px;
            font-weight: 600;
        }
    }
    &.animation {
        img {
            width: inherit;
        }
    }
}
@keyframes rotating {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) rotate(0deg);
        filter: saturate(1);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(180deg);
        filter: saturate(3);
    }
    100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) rotate(360deg);
        filter: saturate(1);
    }
}
.upgrade-modal.fade {
    @media screen and (min-width: 1400px) {
        position: static;
        opacity: 1;
        overflow-y: inherit;
        overflow-x: inherit;
    }
    .modal-dialog {
        @media screen and (min-width: 1400px) {
            min-height: initial;
            max-width: initial;
            display: block;
            transform: none;
            margin: 0;
            height: 100%;
        }
        .modal-content {
            display: block;
            @media screen and (min-width: 1400px) {
                width: 100%;
                background: none;
                height: 100%;
                &.auto-height-modal {
                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1399px) {
                width: 100%;
            }
            .half-box {
                @media screen and (max-width: 1399px) {
                    background: none;
                    &::after,
                    &::before {
                        content: none;
                    }
                }
                @media screen and (max-width: 575px) {
                    margin-top: 30px;
                    padding: 10px 0;
                }
            }
        }
        .modal-body {
            @media screen and (min-width: 1400px) {
                height: 100%;
                padding: 0;
            }
            @media screen and (max-width: 991px) {
                padding: 0 10px;
                .fota-primary-btn {
                    margin: 0 0 20px;
                }
            }
        }
        .modal-header {
            padding: 0;
            @media screen and (min-width: 1400px) {
                display: none;
            }
        }
    }
    .combination-list {
        @media screen and (max-width: 575px) {
            .item {
                width: 114px;
            }
            img {
                width: 80px;
            }
            .label {
                font-size: 14px;
                width: 90px;
                margin: 10px auto 0;
            }
            .item .quantity {
                width: 30px;
                height: 30px;
                font-size: 16px;
                right: 14px;
                bottom: -5px;
            }
        }
    }
    .equipment-upgrade img {
        @media screen and (max-width: 575px) {
            width: 80px;
        }
    }
}
