.card {
    &-image {
        @media screen and (max-width: 991px) {
            position: relative;
        }
    }
    &-price {
        position: relative;
        padding-top: 5px;
        background: #090c00;
        .amount {
            font-size: 20px;
            font-weight: bold;
        }
        .unit-price {
            font-size: 20px;
        }
        .inner {
            .fota-primary-btn {
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            @media screen and (max-width: 991px) {
                .price {
                    font-size: 24px;
                }
            }
            .top-price {
                @media screen and (max-width: 991px) {
                    margin: 15px 0;
                }
            }
        }
    }
    &-info {
        .card-id {
            color: $green;
            font-size: 18px;
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
        }
    }
    .card-class {
        img:first-child {
            width: 48px;
            height: 40px;
        }
        img.card-class {
            width: 40px;
            height: 40px;
        }
    }
}
.card-wrapper {
    &.grid-view {
        .card {
            margin: 20px 0;
            &-image {
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.5);
                    position: absolute;
                    top: 6px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                // &::after {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     right: 0;
                //     height: 150px;
                //     background: rgb(0, 0, 0);
                //     background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                // }
                .thumb {
                    transition: filter 0.3s;
                }
                &:hover {
                    .thumb {
                        filter: saturate(1.4);
                    }
                }
                > a {
                    display: block;
                }
                .image {
                    width: 100%;
                }
                .list-view-bg {
                    height: 430px;
                }
            }
            &-desc {
                display: none;
            }
            &-info {
                padding-bottom: 40px;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                .card-id {
                    margin-top: 8px;
                }
            }
            &-name {
                margin: 10px 0 8px;
                font-size: 30px;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
                text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
            }
            &-spec {
                display: none;
                margin-top: 15px;
                padding: 15px 0;
                font-size: 10px;
                background: url(../images/hero-spec-top-bg.png) no-repeat center 0;
                justify-content: center;
                .spec {
                    display: none;
                }
                > span {
                    display: flex;
                    align-items: center;
                    margin: 0 3px;
                    @media screen and (min-width: 1540px) {
                        margin: 0 10px;
                    }
                }
                i {
                    margin-right: 5px;
                    font-size: 20px;
                }
            }
            &-price {
                position: relative;
                width: 100%;
                padding-top: 5px;
                background: #090c00;
                text-align: center;
                .top-price {
                    margin: 15px 0;
                }
                .inner {
                    padding: 0 30px 30px;
                    @media screen and (max-width: 1440px) {
                        padding: 0 20px 20px;
                    }
                }
                .spec {
                    display: flex;
                    justify-content: center;
                    @media screen and (min-width: 1024px) and (max-width: 1440px) {
                        font-size: 14px;
                    }
                    span {
                        margin: 0 5px;
                    }
                }
                .unit-price {
                    font-size: 20px;
                    // @media screen and (min-width: 1400px) and (max-width: 1600px) {
                    //     font-size: 15px;
                    // }
                }
                .price {
                    font-size: 24px;
                    font-weight: 700;
                }
                .fota-primary-btn {
                    width: 100%;
                    min-width: inherit;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -3px;
                    height: 3px;
                    background: url('../images/card-price-bg.png');
                    background-size: 100%;
                }
            }
        }
        &.items.card-overview {
            .card {
                &-image {
                    .thumb {
                        margin: 40px 0 10px;
                        @media screen and (min-width: 1650px) and (max-width: 1850px) {
                            // margin-top: 90px;
                        }
                        @media screen and (min-width: 992px) and (max-width: 1599px) {
                            margin-top: 30px;
                        }
                    }
                }
                &-info {
                    .card-id {
                        margin: 7px 0;
                    }
                }
                &-price {
                    &.inventory {
                        .inner {
                            width: 100%;
                            .unit-price {
                                padding: 0 15px;
                                width: 100%;
                                justify-content: space-between;
                            }
                        }
                    }
                    justify-content: center;
                }
            }
        }
        &.hero-list {
            .card-price {
                padding-right: 0;
                .inner {
                    width: 100%;
                    .top-price {
                        .dashboard & {
                            margin: 15px 0 0;
                        }
                    }
                }
                .label {
                    display: block;
                }
                .unit-price {
                    display: flex;
                    flex-direction: column;
                    span:first-child {
                        font-size: 12px;
                        text-align: center;
                        @media screen and (min-width: 992px) and (max-width: 1600px) {
                            font-size: 10px;
                        }
                    }
                    span:last-child {
                        line-height: 20px;
                        @media screen and (min-width: 992px) and (max-width: 1600px) {
                            line-height: 24px;
                        }
                    }

                    @media screen and (min-width: 992px) {
                        font-size: 24px;
                        span:last-child {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    &.list-view {
        .card {
            position: relative;
            margin: 30px 0;
            &::before,
            &::after {
                position: absolute;
                content: '';
                left: -2px;
                right: -2px;
                height: 8px;
            }
            flex-direction: column;
            @media screen and (min-width: 992px) and (max-width: 1365px) {
                flex-direction: column;
                &-image {
                    width: 100% !important;
                }
                &-price {
                    width: 320px !important;
                    margin-left: 170px;
                    justify-content: start !important;
                    .inner {
                        .top-price {
                            width: initial !important;
                        }
                    }
                }
            }
            @media screen and (min-width: 992px) {
                background-color: rgba($color: $dark-green, $alpha: 0.5);
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                display: flex;
                // background: url('../images/hero-list-bg.png') no-repeat;
                min-height: 240px;
                background-size: 100%;
                &::before {
                    top: -8px;
                    background: url('../images/hero-list-top-bg.png') no-repeat;
                    background-size: cover;
                }
                &::after {
                    bottom: -8px;
                    background: url('../images/hero-list-bottom-bg.png') no-repeat;
                    background-size: cover;
                }
            }
            @media screen and (max-width: 991px) {
                background-color: rgba($color: $dark-green, $alpha: 0.9);
                &::before,
                &::after {
                    left: 0;
                    right: 0;
                    height: 7px;
                }
                &::before {
                    top: -7px;
                    background: url(../images/full-box-top-bg.png);
                    background-color: 100%;
                }
            }
            &:hover {
                @media screen and (min-width: 992px) {
                    background-color: rgba($color: $dark-green, $alpha: 0.9);
                    border-color: rgba($color: #39cab6, $alpha: 0.7);
                    &::before,
                    &::after {
                        left: -2px;
                        right: -2px;
                    }
                    &::before {
                        background: url('../images/hero-list-top-active-bg.png') no-repeat;
                        background-size: cover;
                    }
                    &::after {
                        background: url('../images/hero-list-bottom-active-bg.png') no-repeat;
                        background-size: cover;
                    }
                }
            }
            &-item {
                @media screen and (min-width: 1600px) {
                    width: 50%;
                }
                @media screen and (min-width: 1200px) and (max-width: 1599px) {
                    width: 100%;
                }
            }
            &-image {
                width: 100%;
                @media screen and (min-width: 992px) {
                    .market-trend & {
                        width: 100%;
                    }
                }
                @media screen and (max-width: 991px) {
                    position: relative;
                    z-index: 1;
                    // background: url('../images/hero-list-mb-bg.png') no-repeat;
                    background-size: 100%;
                }
                .thumb {
                    width: 170px;
                    @media screen and (max-width: 991px) {
                        margin: 0 auto;
                    }
                }
                .image {
                    position: relative;
                    top: -8px;
                    left: -2px;
                    width: 175px;
                    max-width: 175px;
                    z-index: 1;
                }
                a {
                    @media screen and (min-width: 992px) {
                        display: flex;
                    }
                }
            }
            &-info {
                padding: 20px 30px;
                @media screen and (min-width: 992px) {
                    width: 70%;
                }
                .card-id {
                    margin-left: 10px;
                }
                .top-info {
                    display: flex;
                    margin-left: -10px;
                    .info {
                        display: flex;
                        text-align: left;
                        flex-direction: column;
                        .card-name {
                            order: 2;
                            font-size: 30px;
                            font-weight: 700;
                        }
                        .card-class {
                            order: 1;
                        }
                    }
                }
            }
            &-spec {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                font-size: 12px;
                margin-top: 20px;
                @media screen and (max-width: 991px) {
                    // position: absolute;
                    // top: 45px;
                    // left: 175px;
                    // margin: 0 30px;
                    // justify-content: center;
                }
                > span {
                    display: flex;
                    align-items: center;
                    margin: 8px 0;
                    flex: 0 0 33.33%;
                    width: auto;
                    @media screen and (max-width: 991px) {
                        flex: 0 0 50%;
                        justify-content: center;
                    }
                    .spec {
                        margin: 0 5px;
                    }
                }
                i {
                    font-size: 16px;
                }
            }
            &-desc {
                margin-top: 10px;
                font-size: 14px;
                color: white;
                display: flex;
                .label {
                    margin-right: 10px;
                    font-size: 12px;
                    @media screen and (max-width: 991px) {
                        margin-right: 5px;
                    }
                }
                .value {
                    margin-right: 8px;
                    font-size: 18px;
                    @media screen and (min-width: 992px) and (max-width: 1024px) {
                        font-size: 16px;
                    }
                }
                @media screen and (max-width: 991px) {
                    justify-content: center;
                }
                @media screen and (min-width: 1400px) and (max-width: 1600px) {
                    padding-right: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &-price {
                @media screen and (max-width: 991px) {
                    z-index: 1;
                    text-align: center;
                }
                @media screen and (min-width: 992px) {
                    padding-top: 0;
                    margin-left: 170px;
                    position: static;
                    transform: none;
                    height: inherit;
                    padding-right: inherit;
                    background: none;
                    &::before {
                        display: none;
                    }
                }
                @media screen and (min-width: 1366px) {
                    margin-left: 250px;
                }
                &.inventory {
                    .amount {
                        font-size: 30px;
                        span {
                            display: block;
                        }
                    }
                    .inner {
                        @media screen and (max-width: 991px) {
                            width: 100%;
                        }
                    }
                    .unit-price {
                        @media screen and (max-width: 991px) {
                            padding: 0 20px;
                            width: 100%;
                            justify-content: space-between;
                        }
                        @media screen and (min-width: 992px) {
                            margin-top: -25px;
                            flex-direction: column;
                        }
                        span {
                            &.label {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .unit-price {
                    display: flex;
                    .currency-unit {
                        order: 2;
                    }
                    @media screen and (min-width: 992px) {
                        font-size: 30px;
                    }
                    // @media screen and (min-width: 1400px) and (max-width: 1600px) {
                    //     font-size: 20px;
                    // }
                }
                .currency-unit {
                    @media screen and (min-width: 992px) {
                        margin-left: 5px;
                    }
                }
                .buy-btn {
                    display: inline-block;
                    width: 110px;
                    height: 79px;
                    background-image: url(../images/buy-button-bg.png);
                    color: white;
                    transition: all 0.3s;
                    .page-rent & {
                        background-image: url('../images/rent-button-bg.png');
                    }
                    &:hover {
                        background-image: url(../images/buy-button-active-bg.png);
                        .page-rent & {
                            background-image: url('../images/rent-button-active-bg.png');
                        }
                    }
                    @media screen and (min-width: 992px) {
                        position: static;
                        font-size: 30px;
                        margin-top: 20px;
                        span {
                            margin-top: 10px;
                        }
                        &:hover {
                            transform: translateY(-10px);
                        }
                    }
                    span {
                        @media screen and (min-width: 992px) {
                            padding-top: 0;
                        }
                        @media screen and (max-width: 991px) {
                            margin-top: 20px;
                        }
                    }
                }
                .top-price {
                    @media screen and (min-width: 992px) {
                        margin-bottom: 20px;
                    }
                    .price {
                        font-weight: 700;
                        @media screen and (min-width: 992px) {
                            font-size: 30px;
                        }
                    }
                }
                .inner {
                    @media screen and (max-width: 991px) {
                        padding: 0 30px 30px;
                    }
                }
                @media screen and (min-width: 992px) {
                    .fota-primary-btn {
                        display: inline-block;
                    }
                }
            }
        }
        &.items.card-overview {
            .card {
                @media screen and (min-width: 992px) {
                    padding-bottom: 20px;
                }
                &-price {
                    &.inventory {
                        @media screen and (min-width: 992px) {
                            margin-left: 250px;
                        }
                        .top-price {
                            @media screen and (max-width: 991px) {
                                margin: 0;
                                padding-top: 20px;
                            }
                        }
                    }
                }
                &-name {
                    text-transform: uppercase;
                }
            }
        }
        &.hero-list {
            .card {
                &-spec {
                    margin-top: 10px;
                }
                &-info {
                    .card-id {
                        margin-left: 0;
                    }
                }
                &-price {
                    @media screen and (min-width: 1366px) {
                        margin-left: 225px;
                    }
                }
            }
        }
    }
}
.layout-select {
    @media screen and (max-width: 991px) {
        margin-top: 20px;
        justify-content: space-between;
    }
    .fota-toggle.open i::before {
        content: '\e90f';
    }
    ul {
        margin: 0 10px 0;
        @media screen and (max-width: 991px) {
            margin: 0;
        }
    }
    li {
        margin: 0 20px;
        @media screen and (max-width: 991px) {
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.3s;
            &:hover {
                color: $light-grey;
                opacity: 0.8;
            }
        }
        i {
            margin-right: 10px;
            font-size: 24px;
        }
    }
}
.sort-by {
    position: relative;
    min-width: 230px;
    padding-left: 30px;
    font-size: 14px;
    @media screen and (max-width: 991px) {
        min-width: inherit;
        width: 150px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        bottom: -18px;
        width: 1px;
        background-color: $dark-grey;
        background: rgba($color: $dark-grey, $alpha: 0.2);
        @media screen and (max-width: 991px) {
            bottom: -13px;
        }
    }
    .sort-box {
        i {
            font-size: 10px;
            cursor: pointer;
        }
    }
    .sort-dropdown {
        top: 44px;
        left: 0;
        min-width: 230px;
        padding: 5px 30px;
        @media screen and (max-width: 991px) {
            right: 0;
            min-width: inherit;
        }
        .sort-item {
            display: block;
            margin: 18px 0;
            font-size: 14px;
        }
    }
}
