.market-trend {
    .grid-view {
        .card {
            &-spec {
                display: none;
            }
            &-info {
                padding-bottom: 40px;
            }
            &-price {
                height: 130px;
                padding: 0 20px;
                &.small {
                    height: 75px;
                    .inner {
                        margin-top: 0;
                    }
                    &::before,
                    &::after {
                        background-position: bottom;
                    }
                }
                .left {
                    span {
                        display: block;
                        &.label {
                            font-size: 12px;
                        }
                        &.value {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                }
                .inner {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 35px;
                    .right {
                        .buy-btn {
                            position: static;
                            display: block;
                            span {
                                margin-top: 5px;
                                padding-top: 16px;
                            }
                        }
                        .unit-price {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            font-size: 24px;
                            span:first-child {
                                font-size: 12px;
                            }
                            span:last-child {
                                font-weight: 700;
                            }
                        }
                    }
                }
                &::before,
                &::after {
                    width: 8px;
                }
                &::before {
                    left: -8px;
                    background: url('../images/trend-card-price-left-bg.png');
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 0;
                    bottom: 0;
                    background: url('../images/trend-card-price-right-bg.png');
                }
            }
        }
    }
    .list-view {
        &.items {
            &.card-overview {
                .card {
                    @media screen and (max-width: 991px) {
                        min-height: inherit;
                    }
                    &-spec {
                        @media screen and (max-width: 991px) {
                            top: 10px;
                        }
                    }
                }
            }
        }
        &.card-overview {
            .card {
                .top-info {
                    margin-top: 5px;
                }
                &-spec {
                    flex-wrap: wrap;
                    margin-top: 10px;
                }
            }
        }
        .card {
            &-spec {
                display: flex;
            }
            &-price {
                .left {
                    display: none;
                }
                .unit-price {
                    @media screen and (max-width: 991px) {
                        span:first-child {
                            margin-left: 5px;
                            order: 2;
                        }
                        span:last-child {
                            order: 1;
                        }
                    }
                }
            }
            &-desc {
                display: flex;
                .label {
                    margin-right: 10px;
                    font-size: 12px;
                }
                .value {
                    margin-right: 30px;
                    font-size: 20px;
                }
            }
            &-info {
                @media screen and (max-width: 991px) {
                    padding-bottom: 0;
                }
            }
        }
    }
    .card-price {
        .unit-price {
            display: flex;
            @media screen and (min-width: 992px) {
                flex-direction: column;
                text-align: center;
                font-size: 24px;
                span:first-child {
                    font-size: 12px;
                }
                span:last-child {
                    font-weight: 700;
                }
            }
        }
    }
}
.hero-statistic {
    max-width: 900px;
    margin: 20px auto 0;
    .fota-dropdown {
        display: inline-block;
        i {
            margin-left: 5px;
            font-size: 12px;
        }
        .fota-dropdown-menu {
            right: -15px;
            top: 25px;
            @media screen and (max-width: 991px) {
                .trend-item & {
                    right: -67px;
                }
            }
        }
    }
    > div {
        margin: 10px 0;
    }
    .label {
        font-size: 14px;
        font-weight: 600;
    }
    .value {
        font-weight: bold;
    }
}
.market-trend-page {
    .page-holder {
        padding-left: 0;
    }
    .navbar-custom {
        // @media screen and (min-width: 992px) {
        margin: 0 auto;
        // }
    }
    .info-box {
        margin-top: 50px;
        @media screen and (max-width: 575px) {
            padding: 20px;
        }
        .days {
            margin-bottom: 15px;
            @media screen and (max-width: 575px) {
                display: flex;
                justify-content: space-between;
            }
            @media screen and (min-width: 575px) {
                margin-bottom: 20px;
            }
            @media screen and (min-width: 992px) {
                margin-bottom: 40px;
            }
            a {
                display: inline-block;
                margin: 0 10px;
                padding: 5px 20px;
                min-width: 120px;
                border: 2px solid #323b37;
                border-radius: 40px;
                font-size: 18px;
                color: white;
                text-align: center;
                font-weight: 600;
                &.active,
                &:hover {
                    color: $green;
                    border-color: $green;
                }
                @media screen and (max-width: 575px) {
                    margin: 0;
                    padding: 3px 14px;
                    min-width: 80px;
                    font-size: 14px;
                }
                @media screen and (max-width: 991px) {
                }
            }
        }
        .row {
            @media screen and (max-width: 991px) {
                > div {
                    &:nth-child(2) {
                        .illustration-item {
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
            > div:last-child {
                .illustration-item {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .illustration-item {
            position: relative;
            @media screen and (max-width: 992px) {
                margin-top: 20px;
            }
            @media screen and (max-width: 575px) {
                margin-top: 10px;
            }
            i {
                margin-right: 30px;
                font-size: 50px;
                @media screen and (min-width: 992px) and (max-width: 1024px) {
                    font-size: 30px;
                    margin-right: 15px;
                }
                @media screen and (max-width: 575px) {
                    font-size: 36px;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                background: #1b5748;
                right: 0;
                @media screen and (min-width: 1600px) {
                    // right: 20%;
                }
                @media screen and (max-width: 991px) {
                    content: none;
                }
                @media screen and (min-width: 992px) and (max-width: 1024px) {
                    right: 0;
                }
            }
            .label {
                font-size: 14px;
                font-weight: bold;
                @media screen and (max-width: 575px) {
                    font-size: 12px;
                }
            }
            .amount {
                font-size: 24px;
                font-weight: bold;
                @media screen and (min-width: 992px) and (max-width: 1024px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 575px) {
                    font-size: 20px;
                }
            }
        }
    }
    .trend-list {
        margin-top: 50px;
    }
    .trend-item-list {
        margin-top: 30px;
        .card {
            border-top: 1px solid #36594c;
            padding: 30px 0 20px;
            &-info {
                position: relative;
                width: 100%;
                min-height: 152px;
                margin-top: -5px;
                .wallet {
                    @media screen and (min-width: 992px) and (max-width: 1024px) {
                        max-width: 180px;
                    }
                    @media screen and (max-width: 575px) {
                        max-width: 180px;
                    }
                }
            }
            &-image {
                margin-right: 10px;
                @media screen and (min-width: 1441px) {
                    margin-right: 20px;
                }
                .img {
                    position: relative;
                    width: 100px;
                    @media screen and (min-width: 992px) and (max-width: 1024px) {
                        width: 70px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 2px;
                        right: 2px;
                        top: 2px;
                        bottom: 2px;
                        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5);
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
            &-name {
                font-size: 20px;
                font-weight: bold;
                width: 190px;
            }
            &-spec {
                margin-top: 10px;
                font-size: 14px;
                i {
                    font-size: 20px;
                    margin-right: 5px;
                }
                > span {
                    display: flex;
                    align-items: center;
                    margin-right: 5px;
                    @media screen and (min-width: 1600px) {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .date {
                @media screen and (min-width: 1440px) {
                    position: absolute;
                    top: 4px;
                    right: 0;
                    text-align: right;
                    span {
                        display: block;
                    }
                }
                color: #fcfdcc;
                font-size: 14px;
                span {
                    margin-left: 10px;
                }
            }
            .price {
                margin-top: 10px;
                font-size: 22px;
                color: $green;
                font-weight: 600;
            }
            .card-class {
                margin-top: 10px;
                font-size: 14px;
                .item-class {
                    position: relative;
                    margin: 0 5px;
                    &:hover {
                        .tooltip-class {
                            opacity: 1;
                            display: block;
                        }
                    }
                    img {
                        width: 30px;
                    }
                    .tooltip-class {
                        position: absolute;
                        bottom: -40px;
                        right: -64px;
                        padding: 5px 10px;
                        border-radius: 3px;
                        background-color: #000;
                        border: 1px solid #575757;
                        font-size: 14px;
                        opacity: 0;
                        transition: all 0.3s;
                        display: none;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .half-box-2 {
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 992px) and (max-width: 1024px) {
            padding: 10px;
        }
    }
    .trend-item-header {
        h3 {
            font-size: 30px;
            @media screen and (max-width: 1024px) {
                font-size: 26px;
            }
        }
        i {
            font-size: 30px;
            margin-right: 20px;
            @media screen and (max-width: 991px) {
                font-size: 26px;
            }
        }
    }
    .icon-hammer {
        transform: rotate(40deg);
    }
    .icon-refresh {
        transform: rotate(90deg);
    }
}
.diagram {
    display: flex;
    align-items: center;
    @media screen and (min-width: 992px) {
        justify-content: center;
    }
    @media screen and (max-width: 991px) {
        overflow-x: scroll;
    }
    .line {
        &::before,
        &::after {
            position: absolute;
            display: block;
            content: '';
            background-color: #7f886f;
        }
        &.last {
            &::after {
                content: none;
            }
        }
    }
    .level-col {
        display: flex;
        flex-direction: column;
        align-items: start;
        &.level-1 {
            position: relative;
            &::before {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                height: 2px;
                width: 25px;
            }
        }
        &.two-branch {
            position: relative;
            .level {
                &::before {
                    top: 50%;
                    left: -26px;
                    transform: translateY(-50%);
                    height: 2px;
                    width: 25px;
                }
            }
            &::before {
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 2px;
                height: 144px;
            }
        }
    }
    .level {
        position: relative;
        display: inline-block;
        .level-item {
            position: relative;
            margin: 20px 25px;
            padding: 10px;
            border: 1px solid #7f876f;
            background: #000;
            border-radius: 5px;
            color: white;
            transition: all 0.3s;
            &::before {
                top: 50%;
                left: -26px;
                transform: translateY(-50%);
                height: 2px;
                width: 25px;
            }
            &:hover {
                box-shadow: 0px 0px 5px 2px rgba(127, 135, 111, 0.75);
            }
            &::after {
                top: 50%;
                right: -26px;
                transform: translateY(-50%);
                height: 2px;
                width: 25px;
            }
            &.yellow {
                border-color: #f0b90b;
                .item-name {
                    color: #f0b90b;
                }
                &:hover {
                    box-shadow: 0px 0px 5px 2px rgba(240, 185, 11, 0.75);
                }
            }
            &.blue {
                border-color: #1eadff;
                .item-name {
                    color: #1eadff;
                }
                &:hover {
                    box-shadow: 0px 0px 5px 2px rgba(30, 173, 255, 0.75);
                }
            }
            &.pink {
                border-color: #ef3afa;
                .item-name {
                    color: #ef3afa;
                }
                &:hover {
                    box-shadow: 0px 0px 5px 2px rgba(239, 58, 250, 0.75);
                }
            }
        }
        .image {
            img {
                width: 80px;
            }
        }
        .content {
            margin-left: 10px;
            font-size: 14px;
            text-align: left;
        }
        .item-name {
            font-weight: bold;
        }
        .item-spec {
            color: $green;
        }
    }
}
.page-detail {
    &.trend-item {
        .hero-spec {
            i {
                font-size: 18px;
            }
            span {
                margin: 0 0 0 5px;
            }
        }
        .hero-statistic {
            @media screen and (min-width: 992px) {
                max-width: 600px;
                > div {
                    min-width: 112px;
                }
            }
        }
        .full-box.summary {
            padding-bottom: 60px;
        }
    }
}
