.market-trend {
    .grid-view {
        .card {
            &-spec {
                display: none;
            }
            &-info {
                padding-bottom: 40px;
            }
            &-price {
                height: 130px;
                padding: 0 20px;
                .left {
                    span {
                        display: block;
                        &.label {
                            font-size: 12px;
                        }
                        &.value {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                }
                .inner {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 35px;
                    .right {
                        .buy-btn {
                            position: static;
                            display: block;
                            span {
                                margin-top: 5px;
                                padding-top: 16px;
                            }
                        }
                        .unit-price {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            font-size: 24px;
                            span:first-child {
                                font-size: 12px;
                            }
                            span:last-child {
                                font-weight: 700;
                            }
                        }
                    }
                }
                &::before,
                &::after {
                    width: 8px;
                }
                &::before {
                    left: -8px;
                    background: url('../images/trend-card-price-left-bg.png');
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 0;
                    bottom: 0;
                    background: url('../images/trend-card-price-right-bg.png');
                }
            }
        }
    }
    .list-view {
        &.items {
            &.card-overview {
                .card {
                    @media screen and (max-width: 991px) {
                        min-height: inherit;
                    }
                    &-spec {
                        @media screen and (max-width: 991px) {
                            top: 10px;
                        }
                    }
                }
            }
        }
        &.card-overview {
            .card {
                .top-info {
                    margin-top: 5px;
                }
                &-spec {
                    flex-wrap: wrap;
                    margin-top: 10px;
                }
            }
        }
        .card {
            &-spec {
                display: flex;
            }
            &-price {
                .left {
                    display: none;
                }
                .unit-price {
                    @media screen and (max-width: 991px) {
                        span:first-child {
                            margin-left: 5px;
                            order: 2;
                        }
                        span:last-child {
                            order: 1;
                        }
                    }
                }
            }
            &-desc {
                display: flex;
                .label {
                    margin-right: 10px;
                    font-size: 12px;
                }
                .value {
                    margin-right: 30px;
                    font-size: 20px;
                }
            }
            &-info {
                @media screen and (max-width: 991px) {
                    padding-bottom: 0;
                }
            }
        }
    }
    .card-price {
        .unit-price {
            display: flex;
            @media screen and (min-width: 992px) {
                flex-direction: column;
                text-align: center;
                font-size: 24px;
                span:first-child {
                    font-size: 12px;
                }
                span:last-child {
                    font-weight: 700;
                }
            }
        }
    }
}
.hero-statistic {
    max-width: 900px;
    margin: 20px auto 0;
    .fota-dropdown {
        display: inline-block;
        i {
            margin-left: 5px;
            font-size: 12px;
        }
        .fota-dropdown-menu {
            right: -15px;
            top: 25px;
            @media screen and (max-width: 991px) {
                .trend-item & {
                    right: -67px;
                }
            }
        }
    }
    > div {
        margin: 10px 0;
    }
    .label {
        font-size: 14px;
        font-weight: 600;
    }
    .value {
        font-weight: bold;
    }
}
.market-trend-page {
    .page-holder {
        padding-left: 0;
    }
    .navbar-custom {
        // @media screen and (min-width: 992px) {
        margin: 0 auto;
        // }
    }
    .info-box {
        margin-top: 50px;
        .days {
            a {
                display: inline-block;
                margin: 0 10px;
                padding: 5px 20px;
                min-width: 120px;
                border: 2px solid #323b37;
                border-radius: 40px;
                font-size: 18px;
                color: white;
                text-align: center;
                font-weight: 600;
                &.active {
                    color: $green;
                    border-color: $green;
                }
            }
        }
        .illustration-item {
            margin-top: 40px;
            i {
                margin-right: 30px;
                font-size: 50px;
            }
            .label {
                font-size: 14px;
                font-weight: bold;
            }
            .amount {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .trend-list {
        margin-top: 50px;
    }
    .trend-item-list {
        margin-top: 30px;
        border-top: 1px solid #36594c;
        .card {
            padding: 30px 0;
            &-image {
                margin-right: 20px;
                img {
                    width: 100px;
                }
            }
            &-name {
                font-size: 20px;
                font-weight: bold;
            }
            &-spec {
                margin-top: 10px;
                font-size: 14px;
                i {
                    font-size: 20px;
                    margin-right: 5px;
                }
                > span {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .price {
                margin-top: 10px;
                font-size: 22px;
                color: $green;
                font-weight: 600;
            }
        }
    }
    .trend-item-header {
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 30px;
            margin-right: 20px;
        }
    }
}
